# History files
.Rhistory
.Rapp.history
.DS_Store

# Session Data files
.RData
Categorical_Assign2.html

# RStudio files
.Rproj.user/
Categorical_Assign2.Rproj

# produced vignettes
*.log
*.tex
*.csv
Figures/*_files/
Categorical_Assign2_files

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

